<h1>Review#show</h1>
<p>Find me in app/views/review/show.html.erb</p>

<% @review_targets.each_with_index do |target, i| %>
  <div id="target_<%=i%>" class="songs" <%if(i!=0)%>style="display:none"<%end%>>
    <% dummys = Song.where("id <> ?", i+1).find(:all, :order => 'RAND()', :limit => 4) %>
    <% genuine = Song.where("id = ?", i+1) %>
    <% songs = (dummys + genuine).sort_by{rand} %>

    <% songs.each do |song| %>
      <div>
        <% color = (song.id == target.song_id) ? "red" : "black" %>
        <p style="color:<%=color%>"><%= song.poet %></p>
        <p><%= song.poem %></p>
        <%= form_for(@history, :url => {:action => 'create'}, :remote => true) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :song_id, :value => target.song.id %>
          <% result = (song.id == target.song.id) ? 1 : 0 %>
          <%= f.hidden_field :result, :value => result %>
          <%= f.hidden_field :exam_flg, :value => 0 %>
          <%= submit_tag("Next") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
