= render("menu_bar")
%section.main
  %div#qa
    %section
      %h1.menu_title
        コンセプトとか
      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_002.jpg")
          %p
            百/一[ひゃくいち]は、<em>百人一首をだいたい1ヶ月くらいで覚えるためのサービス</em>だと聞いたのですが？
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            はい、そうです。

      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_003.jpg")
          %p
            百/一[ひゃくいち]は、<em>「スペースド・リハーサル法」</em>という考え方をベースにしていて、<em>おぼえた歌を徐々に間隔を空けながら復習することで記憶の定着をよくしている</em>と聞いたのですが？
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            そのとおりです。

      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_004.jpg")
          %p
            百/一[ひゃくいち]には３つのメニューがあるみたいですが、<em>「守」であたらしい歌をおぼえて「破」でおぼえた歌を復習する、そして実力をためしてみたくなったら「離」で100首テストをやれる</em>というわけですね。
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            そうですね。

      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_005.jpg")
          %p
            百/一[ひゃくいち]では、おぼえてから1日後・3日後・7日後の歌が自動的にピックアップされて「破」の復習対象として出てくるから、<em>意識しなくても自然とスペースド・リハーサル法が実践できて簡単に百人一首がおぼえられる仕組みになっている</em>んですね。
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            ええそのとおりです。

      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_006.jpg")
          %p
            百/一[ひゃくいち]はログインしなくても各メニューをおためしで遊べるみたいですが、学習の記録が残らないから<em>本気で100首おぼえたくなったらログインして遊んだほうがよさそう</em>ですね。
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            そうしましょう。

    %section
      %h1.menu_title
        参考サイトとか
      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_007.jpg")
          %p
            百人一首ってどうしても時代背景が違うから意味もわかりにくいし、もっとこう現代風にいうとどういう感じなのかなーっていうのが気になったときは、<em>百人一首bot</em>さんをフォローすると百首がぐっと身近になりますね。
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            「
            %a(href="https://twitter.com/onehundredpoems" target="_blank")
              百人一首bot
            」<br>
            歌人がRTしあうあたりがツボです。ぜひフォローを。

      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_008.jpg")
          %p
            スペースドリハーサル法と言えば「読書猿」さんのサイトに非常にすばらしい解説記事があるから、スペースドリハーサル法について詳しく知りたい人やその他の記憶法・勉強法について知りたい人はぜひ元の記事を読んでみたほうがいいですね。
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            読書猿Classic「
            %a(href="http://readingmonkey.blog45.fc2.com/blog-entry-499.html" target="_blank")
              復習のタイミングを変えるだけで記憶の定着度は４倍になる
            」<br>
            とてもいいサイトです。

      %div.qa_box
        %div.cf
          %div.qa_img
            = image_tag("poet/Hyakuninisshu_009.jpg")
          %p
            百首全部覚えて目標を見失ったときは、いよいよ競技かるたとかに手をだしてもおもしろいかなーと思うものの、いきなりはちょっと不安なのでまずは熱血かるたマンガ「ちはやふる」を読んで雰囲気をつかむのがいいのかなという気がしています。
        %div.cf
          %div.qa_img
            = image_tag("poet/guest.jpg")
          %p
            末次由紀「
            %a(href="http://www.amazon.co.jp/gp/product/4063192393/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=4063192393&linkCode=as2&tag=bookmentoring-22" target="_blank")
              ちはやふる
            」<br>
            おもしろいです。

