<h1>Home#index</h1>

<% @songs.each do |song| %>
  <p>
    <%=song.id %>
    <%=song.poem %>
    <% if song.histories.empty? %>
      finished!
    <% end %>
  </p>
<% end %>

<p><%=link_to 'Learn New Songs', :learn %></p>
<p><%=link_to 'Review Songs', :review %></p>
<p><%=link_to 'Exam', :exam %></p>
