%div#index_container
  %div.index_column.cf
    %div.index_box
    %div.index_box
    %div.index_box
    %div.index_box
    %div.index_box
  %div.index_column.cf
    %div.index_box
    = link_to(:learn) do
      %div.index_box#menu_1
        = image_tag("main_menu/menu_1.png")
    %div.index_box
    = link_to(:exam_index) do
      %div.index_box#menu_3
        = image_tag("main_menu/menu_3.png")
    %div.index_box
  %div.index_column.cf
    %div.index_box
    %div.index_box
    = link_to(:review_index) do
      %div.index_box#menu_2
        = image_tag("main_menu/menu_2.png")
    %div.index_box
    %div.index_box
  %div.index_column.cf
    %div.index_box
    %div.index_box
    %div.index_box
    %div.index_box
    %div.index_box
