<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :song_id %><br />
    <%= f.number_field :song_id %>
  </div>
  <div class="field">
    <%= f.label :times %><br />
    <%= f.number_field :times %>
  </div>
  <div class="field">
    <%= f.label :result %><br />
    <%= f.number_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
