%section.main
  %hgroup
    %h1.menu_title.serif
      あたらしい歌をおぼえる
    %h2.subtitle.serif
      第#{@next_song.id}歌
  %section#question
    %div#question_char.char_card.serif
      %div
        - poem = @next_song.poem.split(" ")
        %div
          %p
            #{poem[0]}
          %p
            &emsp;#{poem[1]}
          %p
            &emsp;&emsp;&emsp;&emsp;&emsp;#{poem[2]}
        %div
          %p
            #{poem[3]}
          %p
            &emsp;&emsp;#{poem[4]}
    = image_tag("cards/Hyakuninisshu_#{sprintf("%03d", @next_song.id)}.jpg", :class => "cards", :id => "question_img")
    %div.clear
  %section
    - history = { :user_id => current_user.id, :song_id => @next_song.id }
    = link_to( "おぼえたので次へ", {:controller => :histories, :action => :save, :remote => true, :history => history}, :class => "btn" )
