%section.main
  %hgroup
    %h1.menu_title.serif
      あたらしい歌をおぼえる
    %h2.subtitle
      第#{@next_song.id}歌
  %section
    %div.cf
      %div#question_char.char_card.serif
        %div
          - poem = @next_song.poem.split(" ")
          %div
            %p
              #{poem[0]}
            %p
              &emsp;#{poem[1]}
            %p
              &emsp;&emsp;&emsp;&emsp;&emsp;#{poem[2]}
          %div
            %p
              #{poem[3]}
            %p
              &emsp;&emsp;#{poem[4]}
      = image_tag("cards/Hyakuninisshu_#{sprintf("%03d", @next_song.id)}.jpg", :class => "cards", :id => "question_img")
    %div.kana
      %small.serif (#{@next_song.kana})
  %section#exp
    %div.exp_content
      %h1.headline.serif 意訳
      %p.exp_comment #{@next_song.comment}
    %div.exp_content
      %h1.headline.serif 歌人
      %div#poet_info.cf
        = image_tag("poet/Hyakuninisshu_#{sprintf("%03d", @next_song.id)}.jpg")
        %div
          %p#poet_name.serif #{@next_song.poet} (698年-770年)
          %p ここも前もしこの失敗人というののためをありでです。もちろんその間の活動年も断然その存在ですならほどですれでみるますよりは研究いっましだろて、どうにはありましたですない。途が据えます事もすなわち生涯が必ずしもないべきです。
  %section
    - history = { :user_id => current_user.id, :song_id => @next_song.id }
    = link_to( "おぼえたので次へ", {:controller => :histories, :action => :save, :remote => true, :history => history}, :class => "btn" )
