%h2
  第#{@next_song.id}歌
= image_tag("cards/Hyakuninisshu_#{sprintf("%03d", @next_song.id)}.jpg", :class => "cards")
%p #{@next_song.poem}
%p #{@next_song.poet}

= form_for(@history, :url => :learn_save, :remote => true) do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :song_id, :value => @next_song.id
  = submit_tag("Next")
