%section.main
  %h2#learn_title
    <em>[守]</em> あたらしい歌をおぼえる
  %h3#learn_subtitle
    第#{@next_song.id}歌
  %div#poem
    %p
      - poem = @next_song.poem.split(" ")
      #{poem[0]}<br>&emsp;#{poem[1]} #{poem[2]}<br><br>
      #{poem[3]}<br>&emsp;&emsp;#{poem[4]}
      -# = raw @next_song.poem.gsub(" ","<br>")
  = image_tag("cards/Hyakuninisshu_#{sprintf("%03d", @next_song.id)}.jpg", :class => "cards", :id => "question")
  %div.clear

  %p.poem_info
    『#{@next_song.poem}』(#{@next_song.poet})

  = form_for(@history, :url => :learn_save, :remote => true) do |f|
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :song_id, :value => @next_song.id
    = submit_tag("Next")
  = link_to 'ホームに戻る', :root
