<h1>New history</h1>

<% @songs.each_with_index do |song, i| %>
  <div id="song_<%=song.id%>" class="songs" <%if(i!=0)%>style="display:none"<%end%>>
    <p><%= song.poet %></p>
    <p><%= song.poem %></p>

    <%= form_for(@history, :url => :learn_save, :remote => true) do |f| %>
      <%= f.hidden_field :user_id, :value => 1 %>
      <%= f.hidden_field :song_id, :value => song.id %>
      <%= submit_tag("Next") %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', histories_path %>
