%section.main
  = image_tag("menu_songs.jpg", :id => "menu_img")
  %h1.menu_title 百人一首の一覧
  %p
    百/一[ひゃくいち]は、百人一首をだいたい1ヶ月くらいでおぼえるためのサービスです。<br>
    このページでは百人一首の現代語訳・解説を掲載しています。<br>
    （クリックすると各首の詳細な説明を確認できます）<br>
  %table#songs
    %tr
      %th #
      %th 歌人
      %th 歌
    - @songs.each do |song|
      %tr(data-href="songs/#{song.id}")
        %td
          = song.id
        %td
          = song.author.name
        %td
          = song.poem

