= render("menu_bar")
%section.main
  %h1.menu_title 百人一首の一覧
  %table#songs
    %tr
      %th #
      %th 歌人
      %th 歌
    - @songs.each do |song|
      %tr(data-href="songs/#{song.id}")
        %td
          = song.id
        %td
          = song.author.name
        %td
          = song.poem

