= render("menu_bar")
%section.main
  %h1.menu_title 百人一首の一覧
  %p  ※もうおぼえた歌はクリックして詳細を見ることができます。
  %table#songs
    %tr
      %th #
      %th 歌人
      %th 歌
    - @songs.each do |song|
      - if @finished_songs.include?(song.id)
        %tr(data-href="songs/#{song.id}")
          %td
            = song.id
          %td
            = song.author.name
          %td
            = song.poem
      - else
        %tr.not-yet
          %td
            = song.id
          %td
            = song.author.name
          %td
            = song.poem

