= render "menu_bar"
%section.main
  %hgroup
    %h1.menu_title
      上の句
    %h2.headline
      #{@finished_num+1}首目
      %small （現在のスコア：#{@current_score}/#{@finished_num}）
  %section#question.cf
    %div#question_char.char_card.serif
      %div
        - poem = @exam_song.poem.split(" ")
        %div#first-half
          %p #{poem[0]}
          %p &emsp;#{poem[1]}
          %p &emsp;&emsp;&emsp;&emsp;&emsp;#{poem[2]}
        %div#second-half
          %p #{poem[3]}
          %p &emsp;&emsp;#{poem[4]}
    = image_tag("cards/Hyakuninisshu_#{sprintf("%03d", @exam_song.id)}.jpg", :class => "cards", :id => "question_img")
    %div#result
      %p.success.hidden.serif 正解
      %p.failure.hidden.serif 不正解
      = link_to( "次の歌へ", {:controller => :exam, :action => :show}, :class => "btn hidden")

  %h1.menu_title
    回答をえらぶ
  %section#answer.cf
    - @exam_targets.each_with_index do |target, i|
      - result = (@exam_song.id == target.id) ? 1 : 0;
      - history = {:song_id => @exam_song.id, :user_id => @user.id, :exam_id => @exam_id, :result => result}
      = link_to({:controller => :exam, :action => :answer, :remote => true, :history => history}, {:class => "answer_link"}) do
        %div.char_card{:id => "ans_#{i+1}"}
          %div
            - poem = target.poem.split(" ")
            %p #{poem[3]}<br>&emsp;&emsp;#{poem[4]}
  = link_to( "やめる", {:controller => :exam, :action => :finish}, :class => "btn", :id => "quit_btn") unless @finished_num == 0
