%section.main
  %hgroup
    %h1.menu_title
      100首まとめてテストする
    %h2#learn_subtitle
      第#{@exam_song.id}歌
  %section#question
    %div#question_char.char_card
      %p
        - poem = @exam_song.poem.split(" ")
        %span#first-half
          #{poem[0]}<br>&emsp;#{poem[1]}<br>&emsp;&emsp;&emsp;&emsp;&emsp;#{poem[2]}<br>
        %span#second-half
          #{poem[3]}<br>&emsp;&emsp;#{poem[4]}
    = image_tag("cards/Hyakuninisshu_#{sprintf("%03d", @exam_song.id)}.jpg", :class => "cards", :id => "question_img")
    %div#result
      %p.success.hidden 正解
      %p.failure.hidden 不正解
      = link_to( "次の歌へ", {:controller => :exam, :action => :show}, :class => "btn hidden")
    %div.clear
  %section#answer
    - @exam_targets.each_with_index do |target, i|
      - result = (@exam_song.id == target.id) ? 1 : 0;
      - history = {:song_id => @exam_song.id, :user_id => current_user.id, :exam_id => @exam_id, :result => result}
      = link_to(:controller => :exam, :action => :answer, :remote => true, :history => history) do
        %div.char_card{:id => "ans_#{i+1}"}
          %p
            - poem = target.poem.split(" ")
            #{poem[3]}<br>&emsp;&emsp;#{poem[4]}
    %div.clear
  = link_to( "やめる", {:controller => :exam, :action => :finish}, :class => "btn")
