<h1>Exam</h1>

<% @all_songs.each_with_index do |target, i| %>
  <div id="target_<%=i%>" class="songs" <%if(i!=0)%>style="display:none"<%end%>>
    <% dummys = Song.where("id <> ?", target.id).find(:all, :order => 'RANDOM()', :limit => 4) %>
    <% genuine = Song.where("id = ?", target.id) %>
    <% songs = (dummys + genuine).sort_by{rand} %>

    <% songs.each do |s| %>
      <div>
        <% color = (s.id == target.id) ? "red" : "black" %>
        <p style="color:<%=color%>"><%= s.poet %></p>
        <p><%= s.poem %></p>
        <%= form_for(@history, :url => {:action => 'answer'}, :remote => true) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :song_id, :value => target.id %>
          <% result = (s.id == target.id) ? 1 : 0 %>
          <%= f.hidden_field :result, :value => result %>
          <%= f.hidden_field :exam_flg, :value => 1 %>
          <%= submit_tag("Next") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%=link_to 'Finish Exam Now', :exam_score %>
