%section#footer
  .cf
    .footer_box
      %h2 About
      %p
        百/一[ひゃくいち]は、だいたい1か月くらいで<strong>百人一首</strong>を覚えるためのサービスです。<br>
        「守・破・離」の3つのメニューで効率よく百人一首を覚えることができる仕組みになっていると思います。<br>
        くわしくは「#{link_to("このサイトについて", :about)}」をご覧ください。<br>
    .footer_box
      %h2 Created by
      %div#creator.cf
        = image_tag("profile.jpg", :alt => 'kame_f_no7', :class => 'profile_image', :id => 'creator_img')
        %p
          %a(href="https://twitter.com/#!/kame_f_no7" target="_blank")
            @kame_f_no7
      %p
        Web制作とかしています。
        Ruby on Railsと百人一首を絶賛勉強中。
        百/一がはじめてのRailsアプリです。つかれました。
    .footer_box#supported_by
      %h2 Supported by
      = image_tag("fakebox.png", :id => "fakebox")
      = link_to("http://www.facebook.com/sharer.php?u=http://hyaku-1.com", :target => "_blank") do
        = image_tag("like/like.png", :id => "like_button")
  %p#copyright Copyright  #{link_to("百/一[ひゃくいち]", :root)}  2013 All Rights Reserved.

