= link_to image_tag("logo_w.png"), :root, { :id => "logo_img" }
- if current_user
  = link_to 'Logout', logout_path
- else
  = link_to image_tag("fb_login.jpg", :id => "fb_login_top"), auth_at_provider_path(:provider => :facebook), {:id => "login_img"}
%p
  = link_to 'このサイトについて', :root
  = link_to '使い方', :root
