%div
  = image_tag("https://graph.facebook.com/#{Authentication.find(current_user.id).uid}/picture?type=normal", :alt => 'profile_image', :id => 'profile_image')
  %p
    = current_user.email
%div
  - last_song = History.who(current_user).original.order("created_at DESC").first
  - last_song_id = (last_song) ? last_song.song_id.to_i : 0
  - days_left = ( (100-last_song_id)/3 ).ceil
  %p
    ■進捗： <em>#{last_song_id}</em>/100歌 終了済み
  %p
    ■100首完了まで： 残り<em>#{days_left}</em>日<br>
  - score = History.who(current_user).where(:exam_flg => 1).where(:result => 1).count
  %p
    ■前回のスコア： <em>#{score}</em>/100
%div
  <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_ed38d86d-850c-4a3d-81f0-667d354f15df"  WIDTH="250px" HEIGHT="250px"> <PARAM NAME="movie" VALUE="http://ws.amazon.co.jp/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fbookmentoring-22%2F8003%2Fed38d86d-850c-4a3d-81f0-667d354f15df&Operation=GetDisplayTemplate"><PARAM NAME="quality" VALUE="high"><PARAM NAME="bgcolor" VALUE="#FFFFFF"><PARAM NAME="allowscriptaccess" VALUE="always"><embed src="http://ws.amazon.co.jp/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fbookmentoring-22%2F8003%2Fed38d86d-850c-4a3d-81f0-667d354f15df&Operation=GetDisplayTemplate" id="Player_ed38d86d-850c-4a3d-81f0-667d354f15df" quality="high" bgcolor="#ffffff" name="Player_ed38d86d-850c-4a3d-81f0-667d354f15df" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="250px" width="250px"></embed></OBJECT> <NOSCRIPT><A HREF="http://ws.amazon.co.jp/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fbookmentoring-22%2F8003%2Fed38d86d-850c-4a3d-81f0-667d354f15df&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>

