<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>

  <div id="nav">
    <%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %> |
    <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
  </div>
  <div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>
  <%= yield %>

  </body>
</html>
