!!!
%html
  %head
    = render "layouts/head"
  %body
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=326071844176374";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    %header
      = render "layouts/header"
    #container
      %article#main
        = yield
      %section#sub
        = render "layouts/sub"
      %div.clear
    %footer
      = render "layouts/footer"
