!!!
%html(lang="ja")
  = render "layouts/welcome"
  %head
    = render "layouts/head"
  %body
    <div id="fb-root"></div>
    = javascript_include_tag "facebook_like"
    %header
      = render "layouts/header"
    #container.cf
      - if current_page?(:top)
        = yield
      - else
        %article#main
          = yield
        %section#sub
          = render "layouts/sub"
    %footer
      = render "layouts/footer"
    = javascript_include_tag "google_analytics"
