!!!
%html
  %head
    = render "layouts/head"
  %body
    %header
      = render "layouts/header"
    #container
      %article#main
        = yield
      %section#sub
        = render "layouts/sub"
      %div.clear
    %footer
      = render "layouts/footer"
