!!!
%html
  %head
    = render "layouts/head"
  %body
    %header
      = render "layouts/header"
    #container
      #main
        -# %p#notice
        -#   = notice
        -# %p#alert
        -#   = alert
        = yield
      #sub
        = render "layouts/sub"
      %div.clear
    %footer
      = render "layouts/footer"
